* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling container (row) */

.container {
    max-width: 95vw;
    margin: 0 auto;
}

.container::after {
    display: table;
    clear: both;
    content: none;
}

/* Styling column */

[class^=col-] {
    float: left;
    padding: 5px 0;
    text-align: center;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}

/* Styling offset */

.offset-1 {
    margin-left: calc((100% / 12) * 1);
}

.offset-2 {
    margin-left: calc((100% / 12) * 2);
}

.offset-3 {
    margin-left: calc((100% / 12) * 3);
}

.offset-4 {
    margin-left: calc((100% / 12) * 4);
}

.offset-5 {
    margin-left: calc((100% / 12) * 5);
}

.offset-6 {
    margin-left: calc((100% / 12) * 6);
}

.offset-7 {
    margin-left: calc((100% / 12) * 7);
}

.offset-8 {
    margin-left: calc((100% / 12) * 8);
}

.offset-9 {
    margin-left: calc((100% / 12) * 9);
}

.offset-10 {
    margin-left: calc((100% / 12) * 10);
}

.offset-11 {
    margin-left: calc((100% / 12) * 11);
}

/* What's the point of styling an .offset-12?? */

/* Styling right-empty */

.right-empty-1 {
    margin-right: calc((100% / 12) * 1);
}

.right-empty-2 {
    margin-right: calc((100% / 12) * 2);
}

.right-empty-3 {
    margin-right: calc((100% / 12) * 3);
}

.right-empty-4 {
    margin-right: calc((100% / 12) * 4);
}

.right-empty-5 {
    margin-right: calc((100% / 12) * 5);
}

.right-empty-6 {
    margin-right: calc((100% / 12) * 6);
}

.right-empty-7 {
    margin-right: calc((100% / 12) * 7);
}

.right-empty-8 {
    margin-right: calc((100% / 12) * 8);
}

.right-empty-9 {
    margin-right: calc((100% / 12) * 9);
}

.right-empty-10 {
    margin-right: calc((100% / 12) * 10);
}

.right-empty-11 {
    margin-right: calc((100% / 12) * 11);
}

/* What's the point of styling an .right-empty-12?? */

/* Some styling in order to see if things work properly */

[class^=col] {
    background-image: linear-gradient(to right, rgb(250, 168, 117), rgb(243, 130, 245));
    border: 2px solid magenta;
    border-radius: 5px;
}

[class^=col] p {
    color: black;
    text-transform: uppercase;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}
